<%= form_for product do |f| %>
  <%= render "shared/errors", object: product %>


  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :price_in_cents %>
    <%= f.text_field :price_in_cents %>
  </div>

  <%= f.submit %>

<% end %>
