<h1>Product: <%= @product.name %></h1>

<%= render @product %>


<h3>Reviews for <%= @product.name %></h3>
  <% if @reviews %>
    <%= render "/reviews/review", review: @review %>
  <% else %>
    No reviews yet!
  <% end %>


<% if current_user %>
  <h4>Add your review</h4>
  <%= render "/reviews/form" %>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>
